<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sustainable Fashion Petition</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="content-wrap">
            {{{body}}}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src='/letterAnimation.js' type="text/javascript"></script>
        <script type="text/javascript" src="/canvas.js"></script>
    </body>
</html>
