<!DOCTYPE html>

<h1>Who Made my Clothes?</h1>
<p>"INSERT NUMBER" of people have already signed the petition</p>
<p> <strong>Sign the petition for more transparency in the fashion supply chain and humane treatment of garnment workers.</strong></p>

<form class="sign-petition-form" action="/home" method="post">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="text" name="surname" value="" placeholder="Surname">
    <input type="text" name="sig" value="" id="sig-input-field">

<canvas id="canvas" width="300" height="100" ></canvas>
<button> SIGN PETITION</button>
<!-- type should not be in there becuase the form automaticlly submits -->
</form>

<!-- canvas will send the data to the sig input field -->



<!-- this is a handlebars template for the petition homepage -->
