<!DOCTYPE html>

<section class="petition-intro">
    <h1>Who made our  clothes?</h1>
    <p> <strong>Sign the petition for more transparency in the fashion supply chain and humane treatment of garnment workers.</strong></p>
</section>


<p>"INSERT NUMBER" of people have already signed the petition</p>

    {{>error}}

<form class="sign-petition-form" action="/home" method="post">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="text" name="surname" value="" placeholder="Surname">
    <input type="text" name="sig" value="" id="sig-input-field">

<canvas id="canvas" width="300" height="100" ></canvas>
<button> SIGN PETITION</button>
<input  name="_csrf" value="{{csrfToken}}" type="hidden">
<!-- type should not be in there becuase the form automaticlly submits -->
</form>


<!-- this is a handlebars template for the petition homepage -->
