<!doctype html>
<div class="profile-page-wrap">

    <form class="" action="index.html " method="post">

    </form>
    <form class="profile-page" action="/profile" method="post">
        <input type="text" name="age" value="">
        <p>Age</p>
        <input type="text" name="city" value="">
        <p>City</p>
        <input type="text" name="url" value="">
        <p>Homepage</p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="continueButton">Continue</button>
        <a href="/profile/edit">Edit Profile</a>



    </form>
    {{>logoutButton}}
</div>
