<div class="fashion-background">
    <section class='fashion-image-grid centred-fixed-elements' >
        <img class="img-1  img-transition" src="images/img-1.jpg" alt="">
        <img class="img-2  img-transition" src="images/img-2.jpg" alt="">
        <img class="img-3  img-transition" src="images/img-3.jpg" alt="">
        <img class="img-4 img-transition" src="images/img-4.jpg" alt="">
        <img class="img-5  img-transition" src="images/img-5.jpg" alt="">
        <img class="img-6  img-transition" src="images/img-6.jpg" alt="">
    </section>

    <section class="petition-intro-paragraph">
        <div class="intro-paragraph centred-fixed-elements">
            <p>The real price of fast fashion clothing is often hidden in the complex supply chain of brands. Shortcuts that heavily pollute the environment, expose workers to toxic chemicals and demanding long hours for unsustainable pay.

             By asking brands to open up their supply chain and make it more transparent, will allow the consumer to make an informed choice upon purchase. 

            Sign this petition if you want to join us in in changing the fashion Industry.</p>

        </div>

        <h1>
            <div id='letters' class="home-headline fly-in-letters centred-fixed-elements">
                <div class="who">
                    <span class="W">W</span>
                    <span class="H">h</span>
                    <span class="O">o</span>
                </div>


                <div class="made">
                    <span class="M">M</span>
                    <span class="A">a</span>
                    <span class="D">d</span>
                    <span class="E">e</span>
                </div>

                <div class="my">
                    <span class="MM">M</span>
                    <span class="Y">Y</span>
                </div>

                <div class="clothes">
                    <span class="C">C</span>
                    <span class="L">L</span>
                    <span class="CO">o</span>
                    <span class="T">t</span>
                    <span class="H">h</span>
                    <span class="CE">e</span>
                    <span class="S">s</span>
                    <span class="?">?</span>
                </div>


            </div>
        </h1>
        </section>
</div>


<div class="registration-page-wrap together">
    <div class="registration-page-grid">
        <h1>Register here to sign the petitioin for more transparency in the fashion supply chain.</h1>

        <form class="registration-form" action="/registration" method="post">
            <input type="text" name="name" value="" placeholder="
    First Name">

        <input type="text" name="surname" value="" placeholder="
    last Name">

        <input type="text" name="email" value="" placeholder="
    Your email-address">

        <input type="password" name="password" value="" placeholder="
    your password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{>error}}

        <button name="button">Register</button>
    </form>

    <p>If you already have an account, you can <a href="/login">log in here</a> </p>

    </div>

</div>
