<!Doctype html>
<div class="thank-you-wrap">
    <h1>Thanks For Signing the Petition</h1>
    <p>There are now {{singnersCount}} people supporting the cause.</p>
    <img src="{{signiture}}" alt="">
    <a href="/signers">Here you can check out who else signed the petition. If you are in the same city you can even connect and start the next fashion revolution in your city!</a>
    <a href="/profile/edit">Edit Profile</a>
    <form class="" action="/delete-signature" method="post">
        <button name="button">Delete Signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <p>If you'd like to know more about the topic and what you can do, check out the resources below!</p>
    {{>logoutButton}}



</div>
