<!Doctype html>
<h1>Thanks For Signing the Petition</h1>
<p>There are now {{singnersCount}} people supporting the cause.</p>
<img src="{{signiture}}" alt="">
<p>If you'd like to know more about the topic and what you can do, check out the resources below!</p>
<a href="/signers">Here you can check out who else signed the petition</a>
