body {
    box-sizing: border-box;
    margin: 0;
    background: #ffdb8a;
    color: #170f36;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Lato, sans-serif;
    padding-top: 2%;
}
h1 {
    font-family: Open Sans, sans-serif;
}

a {
    text-decoration: none;
    color: #170f36;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}

button {
    background: black;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 3% 9%;
    border: white solid 2px;
    cursor: pointer;
}
a button:hover {
    background: #800080;
    border: #170f36 solid 2px;
}
/* LAYOUT MAIN */
.content-wrap {
    height: 100vh;
    /* width: 100vw; */
    /* padding: 0 15%; */
    margin-top: 2%;
}
/* LAYOUT MAIN END */

/* REGISTRATION PAGE */

section.fashion-image-grid {
    margin: 0 auto;
    width: 1300px;
    border: 3px solid green;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 400px 400px 500px;
    /* position: relative; */
}

.centred-fixed-elements {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

section.fashion-image-grid img {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

section.fashion-image-grid .img-3 {
    z-index: 5;
}

section.fashion-image-grid .img-5 {
    margin-top: -70px;
}

/* images animation */
.img-transition {
    transition: all 2.5s ease;
}

section.fashion-image-grid .img-ex-1 {
    transform: translate(-83%, 103%);
}

section.fashion-image-grid .img-ex-2 {
    transform: translate(0%, -47%);
}

section.fashion-image-grid .img-ex-3 {
    transform: translate(76%, 29%);
}

section.fashion-image-grid .img-ex-4 {
    transform: translate(215%, -38%);
}

section.fashion-image-grid .img-ex-5 {
    transform: translate(-144%, -60%);
}

section.fashion-image-grid .img-ex-6 {
    transform: translate(-214%, -96%);
}

.intro-paragraph {
    /* only contains a p tag so far */
    font-family: Lato, sans-serif;
    font-weight: 700;
    width: 29%;
    margin: 0 auto;
    opacity: 1;
    line-height: 1.3em;
}
#letters {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 11rem;
    color: white;
}

.M,
.A,
.D,
.E {
    margin-right: -95px;
}

.W,
.H,
.O {
    margin-right: -95px;
}

.MM,
.Y {
    margin-right: -95px;
}

.C,
.L,
.CO,
.T,
.H,
.CE,
.S {
    margin-right: -95px;
}

div.my,
div.made {
    display: inline-block;
}

div.my {
    margin-left: 44px;
}

/*Fly in Letters WHO MADE MY CLOTHES -ANIMATION */
.fly-in-letters {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
}

.fly-in-letters span {
    opacity: 1;
    transition: all 2.5s ease;
}

/* .fly-in-letters.hidden span {
    opacity: 0;
}

.fly-in-letters.hidden span:nth-child(1) {
    transform: translateX(-3000px) translateY(-300px);
}
.fly-in-letters.hidden span:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}
.fly-in-letters.hidden span:nth-child(3) {
    transform: translateX(100px) translateY(-200px);
}
.fly-in-letters.hidden span:nth-child(4) {
    transform: translateX(300px) translateY(200px);
} */

.registration-page-wrap {
    /* height: 100vh; */
    width: 100vw;
    margin-top: 5000px;
    background: purple;
    position: relative;
}

.registration-page-grid,
.profile-page-grid {
    display: grid;
    grid-template-rows: 400px 158px;
    grid-template-columns: 500px 500px;
    margin-left: 10%;
    /* margin-bottom: -54%; */
    /* right: -20%; */
    padding-top: 11%;
}

.registration-page-wrap h1 {
    font-family: Open Sans, sans-serif;
    /* width: 33%; */
    display: inline-block;
    margin-top: 7%;
    font-size: 34px;
}

.registration-page-wrap p,
.profile-page-grid p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* REGISTRATION PAGE END  */

/* PROFILE/ PROFILE EDIT PAGE */
.profile-page-wrap h1 {
    width: 35%;
    text-align: left;
}

.profile-page-grid {
    margin-left: 0;
    padding-top: 1%;
}

.profile-page-grid p {
    width: 61%;
}

.profile-page-grid form {
    margin-top: -21%;
}

#logout {
    position: relative;
    left: 146%;
    top: 34%;
}

.profile-edit-wrap h1 {
    position: fixed;
    left: 4%;
    top: 40%;
}

.profile-edit-wrap button {
    display: inline-block;
}
/*PROFILE/PROFILE EDIT PAGE END */

/* HOME/Petition Signing Page */

/*Fly in Letters WHO MADE MY
 CLOTHES END */

.petition-home-wrap {
}

.petition-home-wrap h1 {
    font-size: 3rem;
    text-align: center;
    display: inline;
}

.home-headline {
    text-transform: uppercase;
}

.petition-intro {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

canvas {
    border: 1px dashed black;
}

#sig-input-field {
    visibility: hidden;
}

/* Thank You Page */

.thank-you-wrap h1 {
    font-size: 6em;
}

.thank-you-wrap p {
    font-size: 2rem;
    margin: 8% 0;
}

.thank-you-wrap a {
    font-size: 1.8rem;
    color: salmon;
}

.thank-you-wrap a:hover {
    font-size: 1.9rem;
    color: #170f36;
}

.thank-you-wrap img {
    display: inline-block;
}

/* SIGNERS PAGE  */
.signers-wrap li {
    list-style: none;
}
/* SIGNERS PAGE END  */

/* Error Message */
#error-insert {
    color: firebrick;
}

form {
    width: 400px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin-top: 7%;
}

form input {
    display: block;
    width: 519px;
    height: 44px;
    background: black;
    border: 1px solid black;
    color: white;
    font-family: Roboto Mono, monospace;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 30px;
}
