body {
    box-sizing: border-box;
    margin: 0;
    /* background: #ffdb8a; */
    /* background: #d2997b; */
    background: #b6cdc1;
    color: #db7d49;
    /* color: #b1a572; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Lato, sans-serif;
    padding-top: 2%;
}

h1 {
    font-family: Open Sans, sans-serif;
}

a {
    text-decoration: none;
    color: #170f36;
}

a:hover {
    text-decoration: underline;
    color: #ff702b;
}

button {
    background: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 3% 9%;
    border: white solid 2px;
    cursor: pointer;
}

/* LAYOUT MAIN */
.content-wrap {
    /* height: 100vh; */
    /* width: 100vw; */
    /* padding: 0 15%; */
    /* margin-top: 2%; */
}
/* LAYOUT MAIN END */

/* REGISTRATION PAGE */
.registration-body {
    background: whitesmoke;
}
section.fashion-image-grid {
    margin: 0 auto;
    /* width: 1300px; */
    width: 973px;
    display: grid;
    /* grid-template-rows: 400px 400px;
    grid-template-columns: 400px 400px 500px; */
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px 400px;
    /* position: relative; */
}

.centred-fixed-elements {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

section.fashion-image-grid img {
    /* height: 500px;
    width: 500px;
 */
    height: 315px;
    width: 436px;
    object-fit: contain;
}

section.fashion-image-grid .img-3 {
    z-index: 5;
}

section.fashion-image-grid .img-5 {
    margin-top: -70px;
}

/* images animation */
.img-transition {
    transition: all 2.5s ease;
}

section.fashion-image-grid .img-ex-1 {
    transform: translate(-73%, 120%);
}

section.fashion-image-grid .img-ex-2 {
    transform: translate(0%, -47%);
}

section.fashion-image-grid .img-ex-3 {
    transform: translate(66%, 39%);
}

section.fashion-image-grid .img-ex-4 {
    transform: translate(194%, -45%);
}

section.fashion-image-grid .img-ex-5 {
    transform: translate(-144%, -60%);
}

section.fashion-image-grid .img-ex-6 {
    transform: translate(-214%, -96%);
}

.intro-paragraph {
    /* only contains a p tag so far */
    font-family: Lato, sans-serif;
    font-weight: 700;
    width: 29%;
    margin: 0 auto;
    opacity: 1;
    line-height: 1.4;
    z-index: -1;
    font-size: 18px;
    padding-top: 7%;
    color: #ff702b;
}
#letters {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 11rem;
    color: #ff702b;
    padding-top: 11%;
}

.M,
.A,
.D,
.E {
    margin-right: -95px;
}

.W,
.H,
.O {
    margin-right: -95px;
}

.MM,
.Y {
    margin-right: -95px;
}

.C,
.L,
.CO,
.T,
.H,
.CE,
.S {
    margin-right: -95px;
}

div.who {
    margin-bottom: -11%;
}
div.my,
div.made {
    display: inline-block;
}

div.my {
    margin-left: 44px;
}

div.clothes {
    margin-top: -9%;
    font-size: 10rem;
}

/*Fly in Letters WHO MADE MY CLOTHES -ANIMATION */

.fashion-background {
    background: whitesmoke;
    height: 100%;
}

.fly-in-letters span {
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-letters.hidden span {
    opacity: 0;
}

.registration-page-wrap {
    width: 100vw;
    margin-top: 2000px;
    background: #b6cdc1;
    position: relative;
}

.registration-page-grid,
.profile-page-grid,
.login-page-grid {
    display: grid;
    grid-template-rows: 400px 158px;
    grid-template-columns: 500px 500px;
    margin-left: 10%;
    padding-top: 11%;
}

.registration-page-wrap h1,
.login-page-wrap h1 {
    font-family: Open Sans, sans-serif;
    display: inline-block;
    margin-top: 7%;
    font-size: 34px;
    color: #db7d49;
}

.registration-page-wrap p,
.profile-page-grid p {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    background: #b6cdc1;
    color: #db7d49;
    border: 2px solid #db7d49;
    font-weight: 700;
}

button {
    color: #db7d49;
    border: 2px solid #db7d49;
}

button:hover {
    color: #b6cdc1;
    border: 2px solid #b6cdc1;
    background: #db7d49;
}

/* REGISTRATION PAGE END  */
.login-page-wrap {
    width: 100vw;
    margin-top: -9%;
    position: relative;
}
/* PROFILE/ PROFILE EDIT PAGE */
.profile-page-wrap {
    width: 100vw;
    position: relative;
    margin-top: -6%;
    padding: 10% 9%;
}
.profile-page-wrap h1 {
    width: 35%;
    text-align: left;
    z-index: 5;
}

.profile-page-grid {
    margin-left: 0;
    padding-top: 1%;
}

.profile-page-grid p {
    width: 61%;
}

.profile-page-grid form {
    margin-top: -21%;
}

.profile-page-wrap #logout {
    position: relative;
    left: 148%;
    top: -172%;
}

.profile-edit-wrap {
    width: 100vw;
    position: relative;
    margin-top: -16%;
    padding: 8% 9%;
}
.profile-edit-wrap h1 {
    position: fixed;
    left: 4%;
    top: 40%;
    color: whitesmoke;
}

.profile-edit-wrap button {
    display: inline-block;
}

.petition-home-wrap {
    position: absolute;
    margin-top: -2%;
    margin-left: -50%;
    z-index: -2;
    width: 100vw;
    height: 100%;
}
.petition-home-wrap h2 {
    position: fixed;
    width: 24%;
    top: 24%;
    z-index: -1;
    left: 37%;
}

.petition-home-wrap h1 {
    font-size: 3rem;
    text-align: center;
    display: inline;
}

.sign-petition-form button {
    margin-top: 14%;
    margin-bottom: -6%;
}

.home-headline {
    text-transform: uppercase;
}

canvas {
    border: 1px dashed black;
    margin-left: -35%;
    z-index: 5;
}

#sig-input-field {
    visibility: hidden;
}

.content-wrap.petition-wrap {
}

/* Thank You Page */
.thank-you-wrap {
    width: 100vw;
    margin-top: -4%;
    position: relative;
    padding: 3% 1%;
}

.thank-you-wrap h1 {
    font-size: 3em;
    margin-bottom: -4%;
    margin-top: -1%;
}

.thank-you-wrap p {
    font-size: 2rem;
    margin: 8% 0;
}

.thank-you-wrap a {
    font-size: 1.2rem;
    color: #170f36;
    width: 54%;
    display: block;
    margin-left: 22%;
    margin-top: 2%;
}

.thanks-page-links {
    margin-top: 16%;
    margin-left: 3%;
}

.thank-you-wrap a:hover {
    font-size: 1.3rem;
}

.thank-you-wrap img {
    display: inline-block;
    position: absolute;
    top: 24%;
    left: 31%;
    height: 30%;
}

.thank-you-wrap form {
    margin-top: 3%;
}

/* SIGNERS PAGE  */
.signers-wrap {
    width: 100vw;
    margin-top: -6%;
    position: relative;
    padding-top: 4%;
    height: 120%;
}

.signers-wrap h1 {
    width: 51%;
    margin-left: 26%;
}

.signers-wrap li {
    list-style: none;
    font-size: 1.6rem;
    margin-bottom: 16px;
}
/* SIGNERS PAGE END  */

/* Error Message */
#error-insert {
    color: firebrick;
}

form {
    width: 400px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin-top: 7%;
}

form input {
    display: block;
    width: 519px;
    height: 44px;
    font-family: Roboto Mono, monospace;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 30px;
}
